.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    background-color: red;
    width: 170vh;
    height: 65vh;
    overflow-x: scroll;
}

.movieContainer1 {
    background-color: green;
    width: 30%;
    height: 100%;
}

.movieContainer2 {
    background-color: yellow;
    width: 30%;
    height: 100%;
}

.movieContainer3 {
    background-color: green;
    width: 30%;
    height: 100%;
}

.movieContainer4 {
    background-color: yellow;
    width: 30%;
    height: 100%;
}